#exportPattern("^[[:alpha:]]+")
export(predFAO,buildFAO,buildFAOTemp)
export(getTrend)
export(calcDewPoint)
export(buildMdz,predMdz)
export(convert.temperature)
importFrom("graphics", "plot")
importFrom("stats", "lm", "var")
importFrom("stats", "complete.cases")
importFrom("methods","new")
